@import url("https://fonts.googleapis.com/css?family=Varela");

* {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;

	
}


.header{
	/*background: url('../img/uabcs-2.jpg') no-repeat; */
	background-color: #30608F;
	background-size: cover;
	width: 100%;
	height: 150px;
}

.main-header{
	position: fixed;
	background-color: white;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
	
}

.logo img{
    width: 180px;
    margin-top: 1.5%;
    margin-left: 5%;
}

.menu-container{
	text-align: center;
	float: right;
    margin-top: 2.5%;
    margin-right: 35%;
}

.menu ul{
	list-style: none;
	text-decoration: none;
}

.menu ul li{
	font-family: Varela; 
	display: inline-block;
	margin: 5px 10px;

}

.menu ul li a{
	text-decoration: none;

}

.salir{
	font-size: 23px;
    margin-right: -700px;
}

.admin-info{
	display: flow-root;
	width: 30%;
	height: 800px;
	
}

.admin-info img{
	border-radius: 50%;
	width: 50%;
	height: 200px;
	margin-top: 10%;
	margin-left: 25%;
	background-color: #8c8c8c;
	box-shadow: 3px 5px 10px 5px rgba(0,0,0,0.2);
}

.admin-info p{
	font-family: Varela;
	font-size: 3.5vh;
    text-align: center;
    margin-top: 15px;
}

.social{
	width: 80%;
	height: 150px;
	margin-left: 10%;
	margin-top: 80%;
}

.social img{
	border-radius: 0px;
	background-color: white;
	width: 65%;
	height: 65px;
	margin-left: 18%;
	margin-top: 3%;
	margin-bottom: 10%;
	box-shadow: none;
}

.iconos-social i{
	color: #5290bb;
	font-size: 50px;
	margin-left: 25%;
}



.opciones{
	display: flow-root;
	float: right;
	width: 68%;
	height: 800px;
    border: 3px solid #D6D2D2;
}

.opciones h1{
	font-family: Varela;
	font-size: 6vh;
	text-align: center;
	margin-top: 2%;
}

.opciones-btn{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px , 1fr));
	width: 90%;
	height: 80%;
	margin-top: 3%;
	margin-left: 6%;

}

.opcion input{
	font-family: Varela;
	cursor: pointer;
	margin-left: 12%;
	margin-top: 3%;
	border: 2px solid #D6D2D2;
    width: 150px;
    padding: 1em;
    color: black;
    text-decoration: none;
    transition: all linear .3s;
}

/* Error */

.error img{

    margin-left: 10%;
    margin-top: 1%;
    width: 80%;

}

/* consultagrupos */

.busqueda{
	font-family: 'Open Sans', Tahoma, Georgia, "Times New Roman", Times, serif;
	margin-left: 32%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.busqueda input{
	font-family: 'Open Sans', Tahoma, Georgia, "Times New Roman", Times, serif;
	background-color: #eceff1;
	width: 100px;
	height: 20px;
	border-width: 1px;
	cursor: pointer;
}

.tabla{
	margin: auto;
	width: 90%;
	background: #cadbeb;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);

}


.tabla thead tr th{
	font-family: 'Open Sans', Tahoma, Georgia, "Times New Roman", Times, serif;
	color: white;
	background: linear-gradient(#0077d2, #005a9f);

}

.tabla tbody tr td{
	background-color: #eaeef0;
	font-family: 'Open Sans', Tahoma, Georgia, "Times New Roman", Times, serif;
}

/* consulta alumno */

.consulta-alumno{
	width: 100%;
	margin-top: 3%;
	margin: none;
}

/* registrar */

.panel{
	width: 90%;
	margin: auto;
	margin-top: 1%;
	border: solid 1px #9abbda;
    box-shadow: 2px 2px 5px 2px #c1d5e8;
    font-family: 'Open Sans', Tahoma, Georgia, "Times New Roman", Times, serif;

} 

.panel h1{
	margin:auto;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #eceff1;
	border-bottom: solid 1px #eceff1;
}

.panel input{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 1.2em;
}

.panel select{
	margin-top: 2%;
	font-size: 1.2em;
} 

.panel label{
	font-size: 1.2em;
	padding-left: 2%;
}

.btn-registrar{
	text-shadow: 2px 5px 10px #000;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 200px;
	padding: 0.5em;
	color: #fff;
	text-decoration: none;
	background: #00a54d;
	cursor: pointer;
	margin-left: 70%;
}

.error{
	margin:auto;
	text-align: center;
	width: 60%;
	margin-top: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #a94442;
	background-color: #f2dede;
	border-radius: 4px;
	border: 1px solid #a94442;
}

.exito{
	background-color: #dff0d8;
	border: 1px solid #008100;
	color: #3c763d;
}